@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 98% 95%;
    --foreground: 206 5% 10%;
    --card: 206 50% 90%;
    --card-foreground: 206 5% 15%;
    --popover: 206 98% 95%;
    --popover-foreground: 206 98% 10%;
    --primary: 206 79% 21%;
    --primary-foreground: 0 0% 100%;
    --secondary: 206 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 168 30% 85%;
    --muted-foreground: 206 5% 40%;
    --accent: 168 30% 80%;
    --accent-foreground: 206 5% 15%;
    --destructive: 0 98% 48%;
    --destructive-foreground: 206 5% 90%;
    --border: 206 30% 50%;
    --input: 206 30% 48%;
    --ring: 206 79% 21%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 206 50% 10%;
    --foreground: 206 5% 90%;
    --card: 206 50% 10%;
    --card-foreground: 206 5% 90%;
    --popover: 206 50% 5%;
    --popover-foreground: 206 5% 90%;
    --primary: 206 79% 21%;
    --primary-foreground: 0 0% 100%;
    --secondary: 206 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 168 30% 25%;
    --muted-foreground: 206 5% 60%;
    --accent: 168 30% 25%;
    --accent-foreground: 206 5% 90%;
    --destructive: 0 98% 48%;
    --destructive-foreground: 206 5% 90%;
    --border: 206 30% 48%;
    --input: 206 30% 48%;
    --ring: 206 79% 21%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
