@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f8f8f8;
    --foreground: #333333;

    --card: #ffffff;
    --card-foreground: #333333;

    --popover: #ffffff;
    --popover-foreground: #333333;

    --primary: #3498db;
    --primary-foreground: #ffffff;

    --secondary: #e67e22;
    --secondary-foreground: #333333;

    --muted: #ecf0f1;
    --muted-foreground: #555555;

    --accent: #2ecc71;
    --accent-foreground: #333333;

    --destructive: #e74c3c;
    --destructive-foreground: #ffffff;

    --border: #bdc3c7;
    --input: #ecf0f1;
    --ring: #3498db;

    --radius: 0.5rem;
  }

  .dark {
    --background: #333333;
    --foreground: #ecf0f1;

    --card: #444444;
    --card-foreground: #ecf0f1;

    --popover: #444444;
    --popover-foreground: #ecf0f1;

    --primary: #3498db;
    --primary-foreground: #ffffff;

    --secondary: #e67e22;
    --secondary-foreground: #333333;

    --muted: #555555;
    --muted-foreground: #bdc3c7;

    --accent: #2ecc71;
    --accent-foreground: #333333;

    --destructive: #e74c3c;
    --destructive-foreground: #ffffff;

    --border: #6c7a89;
    --input: #555555;
    --ring: #3498db;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
